*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}

.mainnav{
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
}

.chatbot{
    z-index: 30;
    position :fixed;
    bottom: 20px;
    right: 20px;

}

@media (max-width:400px) {
       .chatbot{ 
        right: 10px;
       }
}
